html {
	height: 100%;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	/* background-image: url('../assets/northern-lights.webp');
	background-size: 100% 100%;
	background-repeat: no-repeat; */
	margin: 0;
	justify-content: space-between;
	height: 100%;
}

h1 {
	font-family: "Chronicle Display Bold",Georgia,serif;
	margin-top: 250px;
	text-align: center;
	color: #fff;
	font-size: 70px;
	font-weight: 500;
}

h3 {
	text-align: center;
	color: #fff;
	font-size: 34px;;
	font-weight: 500;
}

#ibuild {
	left: 30%;
	position: absolute;
}