html {
	height: 100%;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	margin: 0;
	height: 100%;
}


.nav-bar {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	width: 100%;
	background: #4776E6;  
	background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  
	background: linear-gradient(to right, #8E54E9, #4776E6); 
}

.nav {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin-right: 30px;
}

.nav-link {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}

.nav-link-a {
	color: #fff;
	text-decoration: none;
}

.nav-link-a:hover {
	color: #FFDC00;
}

#main-container {
	height: 100%;
	display: flex;
}

#term-container {
	margin-top: 50px;
	height: 100%;
}

textarea {
	resize: none;
}

#terminal {
	height: 100%;
	width: 500px;
	background-color: #000;
	color: #99ddff;
	font-size: 24px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	
	padding-left: 45px;
	border: none;
}

#content {
	text-align: center;
}

#short-desc {
	padding: 10px;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
}

.links {
	margin-top:20px;
	width: 250px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	color: #5012E6;
	border: 1px solid #5012E6;
}

.links:hover {
	background: #5012E6;
	color: #fff;
}

#profile-pic {
	border-radius: 50%;
	max-width: 200px;
	margin-top: 75px;
}

h1 {
	color: #5012E6;
}

@media (max-width: 875px) {
	#new {
		justify-content: space-around;
	}
	.nav {
		width: 100%;
	}
	#main-container {
		flex-direction: column-reverse;
		height: auto;
	}

	#terminal {
		width: 100%;
		height: 650px;
		padding-left: 0px;
		font-size: 22px;
	}
	#content {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

@media (max-width: 450px) {
	#terminal {
		font-size: 17px;
		height: 500px;
	}
	.nav-link {
		font-size: 16px;
	}
	.nav {
		padding: 0;
		margin: 0;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	#profile-pic {
		margin-top: 25px;
		height: 150px;
	}
}